:root {
	background-color: #1a1a1aaa;
	color: #ffffff;
	backdrop-filter: blur(10px);
	font-family: Roboto, sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
	cursor: default;
}
